
<h3>Salle {{ salle.nom }}</h3>
  {% set cpt = 0 %}
  {% for post in liste_post %}
  {% if cpt  is divisible by(15) %}
  {% if cpt != 0 %}
 </center> </div>
  </div>
  {% endif %}
    <div class="row-fluid">
		<div class="span9"><center>
  {% endif %}
  		
						<a href="#myModal" role="button" data-toggle="modal" style="height: 50px; display: inline-block;">
							{% if post.allumer == 1 %}
							<img src="{{ asset('img/vert.png') }}" alt="Connecter!" style="width:50px" />
					
							{% else %}
								<img src="{{ asset('img/rouge.png') }}" alt="Pas Connecter!" style="width:50px" />
							{% endif %}
							<p style="font-size: 15px;">{{ post.id }}</p>
						</a>
							
							<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
								<div class="modal-header">
									<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
								</div>
								<div class="modal-body">
									<img src="{{ asset('img/personne.png') }}"  alt="User !" style="width=150"></img>
									<p>Utilisateur connecté sur ce poste : {{ post.user }}</p>
								</div>
								<div class="modal-footer">
									<button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
								</div>
								</div>	
  			{% set cpt = cpt + 1 %}
  {% endfor %}



